<h1>Football News</h1>

<h4>NPM:</h4>
<p>{{ npm }}</p>
<h4>Name:</h4>
<p>{{ name }}</p>
<h4>Class:</h4>
<p>{{ class }}</p>

<a href="{% url 'main:create_news' %}">
    <button>+ Add News</button>
</a>

<hr>
{% for news in news_list %}
  <li>
    <li style="margin-bottom: 2em;">
  <h3>
    <a href="{% url 'main:show_news' news.id %}">
      {{ news.title }}
    </a>
  </h3>
  <p>{{ news.content }}</p>

  {% if news.thumbnail %}
    <img src="{{ news.thumbnail }}" alt="{{ news.title }}" style="max-width:200px; height:auto;">
  {% endif %}
</li>

    <br>
    {% if news.thumbnail %}
      <img src="{{ news.thumbnail }}" alt="{{ news.title }}" width="200">
    {% endif %}
  </li>
{% endfor %}
