<h1>Football News</h1>

<h4>NPM:</h4>
<p>{{ npm }}</p>
<h4>Name:</h4>
<p>{{ name }}</p>
<h4>Class:</h4>
<p>{{ class }}</p>


<a href="{% url 'main:create_news' %}">
  <button>+ Add News</button>
</a>

<h5>Last login session: {{ last_login }}</h5>


<a href="{% url 'main:logout' %}">
  <button type="button">Logout</button>
</a>

<a href="?filter=all">
  <button type="button">All Articles</button>
</a>
<a href="?filter=my">
  <button type="button">My Articles</button>
</a>

<hr>

<ul>
{% for news in news_list %}
  <li style="margin-bottom: 2em;">
    <h3>
      <a href="{% url 'main:show_news' news.id %}">
        {{ news.title }}
      </a>
    </h3>
    <p>{{ news.content }}</p>

    {% if news.thumbnail %}
      <img src="{{ news.thumbnail }}" alt="{{ news.title }}" style="max-width:200px; height:auto;">
    {% endif %}
  </li>
{% empty %}
  <p>No news available.</p>
{% endfor %}
</ul>
